#! /bin/bash

# Django
export SITE_ID='DEFAULT: 1'
export HOST='OPTIONAL: website hosting, e.g. example.com'

# Postgres
export POSTGRES_DB='DEFAULT: django'
export POSTGRES_HOST='DEFAULT: database'
export POSTGRES_USER='DEFAULT: django'
export POSTGRES_PASSWORD='DEFAULT: django'
export POSTGRES_PORT='DEFAULT: 5432'

# Captcha
export RECAPTCHA_PUBLIC_KEY='REQUIRED: Captcha public key'
export RECAPTCHA_PRIVATE_KEY='REQUIRED: Captcha private key'
